@media (min-width: 768px) and (max-width: 1023px) {
    .cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }
/* NAVIGATION STUFF GOES HERE  */
nav{
    ul{
        display: flex;
        justify-content:  flex-start;
        column-gap:  $gutter;
    }
    ul li a{
        margin: 10px 0;
    }
    ul li a:hover{
        text-decoration: underline 2px $accentColor;
        color: $accentColor;
    }
}